@tailwind base;
@tailwind components;
@tailwind utilities;

.feature {
    @apply w-1/4 flex flex-col items-center
}

.offer {
    @apply border-2 rounded-md min-w-[37vw] m-1 p-2
}

@layer utilities {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
}